name: Automated Testing

on:
  pull_request:
    branches:
      - main

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.x'
          architecture: 'x64'
      - run: |
          pip install --upgrade pip
          pip install poetry
          hash -r

          poetry install
      - run: poetry run mypy .
      - run: poetry run flake8 .

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: '3.10.x'
          architecture: 'x64'
      - name: Install Poetry
        run: |
          pip install --upgrade pip
          pip install poetry
          hash -r

          poetry install
      - run: poetry run pytest --cov=tor
